/*------css-demo-------*/

/*---generate own colors for homework---*/

/*---insert colors and pick font for the css-demo here----*/


/*  ---------------Box Sizing-----------------  */

html {

    box-sizing: border-box;
}
  *,
  *:before,
  *:after {

    box-sizing: inherit;

  }



  /*---------repsonsive images----------------*/

  img{
    max-width 100%;
  }

  /* ----------Utility classes--------------*/

.container{

  width:80vw;/*viewport height*/
  max-width:960px;
  margin: 40px auto;

  }/* percentage for nested attributes*/



  /*--------------globalstyles-------------------*/
/*body styling*/
    body{ 

      background-color:beige;
    font-family: sans-serif; 
    margin:0;

  }

/*--------header primary-----*/
header.primary{

  background-color: #3b638b;
  color: #ffffff;
  text-align: center;
  text-shadow:1px 1px #000000;

  /*--------long form(padding)--------*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  
  padding: 20px 40px;/*two value short hand*/
    
    /* two value top/bottom 20,  l/r 40*/
    padding: 20px 40px;

  }

/*-------Header Primary H1------*/
header.primary h1{ 

background-color: #3b638b;
font-size:2.4rem;
margin: 20px 0 0;

  }

/*-----Primary H1 Link------*/
header.primary h1 a{

  color:white;
text-decoration:none;

  }

/*-----header Primayr H2------*/
header.primary h2{

  font-size: 1.3rem;
  margin:0;

  }


/*----Navigation Styling-----*/

header.primary nav{
  font-size: 1.3rem;
  margin: 0;
  }

header.primary nav ul{

  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-evenly;
  }

  header.primary nav ul li{

  list-style-type:none;

  }

  header.primary nav ul li a{

    color:#ffffff;
    text-decoration:none;
    /*this is border properties: pixle, type, and color*/
    border:1px solid #c0c0c0;
    /*adding space inside the border*/
    padding: 7.5px 10px;
    /* this is to make it transparent: first three are the colors and the last is alpha(transparency)*/
    background-color: rgba(0,0,0,.4);
    border-radius: 20px;
    /* makes the border round*/
  
    transition:.4s;
  }


  header.primary nav ul li a:hover { 

  background-color:rgba(0,0,0,.8);

  }










  /*--------Content-------*/
  #content{

    line-height: 1.4;

  }

#content h2{

    color:#3b638b;
    border-bottom:1px dotted #3b638b;
    line-height:1.8;/*- gives spacing for the words within the content.-*/

  }


/*blog section*/
#blog{

  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 2rem;
}

  #blog article.post{
   box-shadow: 0 4px 8px rgba(0,0,0,.6);
   padding: 10px
   border-radiusx: 4px;
   font-size: 0.8rem;
}

  #blog figure{

   margin:0;

}

  #blog figcaption, 
  time.post-date {

   text-transform:uppercase;
   font-size: 0.6rem;
   text-align: center;
   color:blue;

}
  #blog .post a {

   color:#3b638b;

}




 #blog article.post:hover{
  box-shadow:0 8 16px rgba(0,0,0,.6);
  transition:.4s;

 }



 aside[role="complementary"] {
  background-color: #172635;
  color:#ffffff; 
  padding:40px 0;
 }
 aside.container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  gap:40px;
 }
 aside article.widget a{
  color:#ffffff;
  display:block;
  margin-top:20px;
  text-align:right;
 }
 aside article.widget footer{
  display
 }
  /*------media Queries-----*/
  @media screen and (max-width: 560px) { 

    header.primary nav ul{ 
      flex-direction:column;
      gap:10px;
     max-width:200px;
     margin:0 auto;
    }
 header.prmary nav a{
  display: block;
 }

  }