/*----css for prototype HTML assignment----*/
/*color codes:  
main= #A8383B
secondary=080E3B
words= FDE0E1
/**/
/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
background-color:#A8383B;

.container{text-indent: 30px;
  }
}
  header{
background-color:#A8383B;
    text-align: center;
  
  }